<?xml version="1.0"?>

<launch>
<!--  world respawn-->
    <include file="$(find aulagazebo)/launch/world.launch" >
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="world_name" value="$(find aulagazebo)/worlds/empty.world" />
    </include>    


<!-- models respawn-->
    <node name="laser" pkg="gazebo_ros" type="spawn_model"
          args="-file /$(find aulagazebo)/models/laser/model.sdf
                -sdf
		-model laser"/>
</launch>


